<section class="section">
  <div class="container">
    <div class="columns">


      {{#each posts}}
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{image}}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a href="/articles/{{_id}}">
                <h2>{{title}}</h2>
              </a>
              <p>{{stripTags content}}</p>
              <p>Publié par {{author}}, le {{moment createDate format ="DD-MM-YY"}}</p>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</section>